/* main.css - Stylesheets for pages on akridgetech.com */

html, body {
	
}

* {
	margin: 0;
	font-family: Calibri, Optima, sans-serif;
}

pre {
	display: inline;
	font-size: 80%;
	font-family: Consolas, 'Courier New', monospace;
}

.linkHighContrast {
	color: #aaaaff;
}

.linkHighContrast {
	color: #aaaaff;
}

/* ==== Header Styles ==== */
#mainHeader {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
}

#headerName {
	font-size: 2.5rem;
	text-align: center;
	text-shadow: 2px 2px 5px #4f4f4f;
	padding-top: 10px;
}

#headerTitle {
	font-size: 1.25rem;
	text-align: center;
	padding-bottom: 10px;
}

#headerLinks {
	width: 95%;
	margin: 0 auto;
	display: flex;
}

.headerLink {
	/* https://stackoverflow.com/a/33730677/2709212 */
	display: inline-block;
	text-align: center;
	font-size: 1.5rem;
	text-shadow: 1px 1px 5px #4f4f4f;
	margin: 0 auto;
	flex: 1;
}

.headerLink a {
	text-decoration: none;
	display: block;
}

.headerLink a:link {
	color: #036FF0;
}

.headerLink a:hover {
	color: #60A3F3;
}

.headerLink a:visited {
	color: #4935F4;
}

/* ==== "About Me" Section Rules ==== */
#aboutMe {
	background-color: #090A3B;
	min-height: 400px;
	display: flex;
	align-items: center;
}

#aboutMeText {
	float: right;
	color: white;
	padding: 5px 5px 5px 25px;
	width: 60%;
	font-family: Calibri, Optima, sans-serif;
	font-size: 1.2rem;
}

#aboutMeImage {
	width: 346px;
	height: 400px;
	background-image: url('../img/meSample.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* ==== Section Rules ==== */
.pageSection {
	border-top: 2px solid #aaa;
	margin: 5px 15px 0px 15px;
}

.sectionHeader {
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 2rem;
	color: #606060;
}

.project-screenshot-right {
	border-bottom: 2px solid #aaa;
}

.project-left-description h3 {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 1.25rem;
	color: #404040;
}

.project-left-description {
	font-family: Calibri, Optima, sans-serif;
	font-size: 1.1rem;
}

.project-right-screenshot {
	margin: 10px 0 20px 0;
}

.screenshot {
	display: block;
	margin: 0 auto;
	box-shadow: 4px 4px 10px #222;
	max-width: 100%;
}

.project-screenshot-left {
	margin-top: 20px;
	border-bottom: 2px solid #aaa;
}

.project-right-description {
	font-family: Calibri, Optima, sans-serif;
	font-size: 1.1rem;
}

.project-right-description h3 {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 1.25rem;
	color: #404040;
}

.project-left-screenshot {
	margin: 10px 0 20px 0;
}

.project-link {
	display: block;
	text-align: center;
	text-decoration: none;
	margin-top: 4px;
}

.project-coming-soon {
	height: 100px;
	font-family: Calibri, Optima, sans-serif;
	font-weight: bold;
	font-size: 2.5rem;
	text-align: center;
	margin: auto 0;
	color: #777;
	background-color: #ddd;
	border-bottom: 2px solid #aaa;
}

.projectDetails {
	font-size: 80%;
	margin-top: 5px;
}

.inDevWarning {
	color: #ff0000;
}

.project-page-link {
	box-sizing: border-box;
	height: 100px;
	text-align: center;
	background-color: #6da4e5;
	color: #ffffff;
	font-size: 250%;
}

.project-page-link a {
	text-decoration: none;
	/* http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */
	position: relative;
	top: 25%;
	transform: translateY(-50%);
}

.project-page-link a:hover {
	text-decoration: underline;
}

.project-page-link a:visited {
	color: #ffffff;
}

/* ==== Project Download Rules ==== */
#downloadInfo {
	box-sizing: border-box;
	width: 70%;
	padding: 15px;
	margin: 20px auto 0 auto;
	text-align: center;
	background-color: #ccdfff;
	font-family: Calibri, Optima, sans-serif;
	font-size: 1.25rem;
}

.downloadLinks {
	margin-top: 20px;
	margin-bottom: 20px;
}

#downloadInfo ul {
	padding-left: 5px;
}

#downloadInfo li {
	list-style-type: none;
	text-align: left;
}

#downloadInfo pre {
	font-size: 0.75rem;
}

a.button {
	text-decoration: none;
	padding: 10px 10px;
	background-color: blue;
	border-radius: 10px;
	color: white;
}

/* ==== Project Latest Changelog Rules ==== */
#latestChangelog {
	visibility: hidden;
	height: 0;
}

/* ==== Project Other Links Rules ==== */
#projectOtherLinks {
	box-sizing: border-box;
	width: 70%;
	margin: 0 auto;
	font-family: Calibri, Optima, sans-serif;
	border: 1px solid black;
}

#projectOtherLinks h3 {
	text-align: center;
	font-size: 1.5rem;
}

#projectOtherLinks ul {
	width: 75%;
	margin: 0 20px;
	font-size: 1.1rem;
}

/* ==== Project Description Rules ==== */
#description {
	width: 90%;
	margin: 5px auto 0 auto;
	padding-top: 13px;
	border-top: 2px solid #777;
	font-family: Calibri, Optima, sans-serif;
}

#description h2 {
	text-align: center;
	font-size: 1.6rem;
}

#description p {
	margin: 0px auto 10px auto;
	max-width: 90%;
}

#description img {
	display: block;
	margin: 0 auto;
	box-shadow: 4px 4px 10px #222;
	max-width: 100%;
}

/* ==== Project Screenshot View ==== */
#screenshots {
	margin: 20px auto 20px auto;
	padding-top: 20px;
	border-top: 2px solid #ccc;
	width: 90%;
}

.screenshotContainer {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.screenshotHeader {
	font-family: Calibri, Optima, sans-serif;
	font-size: 2rem;
	text-align: center;
}

.screenshotContainer a {
	width: 45%;
	margin: 5px 5px;
}

.screenshotContainer img {
	width: 100%;
	box-shadow: 4px 4px 10px #222;
}

/* ==== Old Versions Rules ==== */
#oldVersions {
	font-family: Calibri, Optima, sans-serif;
}

#oldVersions h2 {
	text-align: center;
}

.oldVersion {
	width: 75%;
	margin: 0 auto;
	font-size: 125%;
}

/* ==== Contact Page Rules ==== */
#contact {
	font-family: Calibri, Optima, sans-serif;
	font-size: 150%;
	text-align: center;
}

#contact h3 {
	font-weight: normal;
}

/* ==== Project Page Rules ==== */
#projectPageHeader {
	margin-top: 20px;
	margin-left: 20px;
	font-family: Calibri, Optima, sans-serif;
	font-size: 125%;
}

/* ==== Footer Rules ==== */
#mainFooter {
	color: #8f8f8f;
	font-family: 'Segoe UI', Helvetica, sans-serif;
	font-weight: bold;
	display: flex;
	align-items: center;
	margin: 20px;
}

#copyrightInfo {
	width: 80%;
}

#socialIcons {
	width: 20%;
}

#mainFooter a {
	text-decoration: none;
	color: #4f4f4f;
}

#mainFooter a:hover {
	color: #6f6f6f;
}

#mainFooter a:visited {
	color: #6f6f6f;
}

/* ==== Global Media Queries ==== */
@media screen and (min-width: 1024px) {
	/* Most tablets and computers */
	
	/* ==== Header Styles ==== */
	#mainHeader {
		overflow: auto;
		display: flex;
		width: 100%;
	}
	
	#headerInfo {
		width: 70%;
		padding-left: 30px;
	}
	
	#headerName {
		text-align: left;
	}
	
	#headerTitle {
		text-align: left;
	}
	
	#headerLinks {
		width: 40%;
		margin: 0;
		align-items: center;
	}
	
	/* ==== About Me Styles ==== */
	#aboutMeText {
		font-size: 1.8rem;
	}
	
	/* ==== Section Styles ==== */
	.sectionHeader {
		font-size: 2.25rem;
	}
	
	.project-screenshot-right {
		display: flex;
		align-items: center;
	}
	
	.project-left-description {
		width: 45%;
		margin-right: 5%;
	}
	
	.project-left-description h3 {
		font-size: 1.75rem;
	}
	
	.project-left-description {
		font-size: 1.3rem;
	}
	
	.project-right-screenshot {
		width: 50%;
	}
	
	.project-screenshot-left {
		display: flex;
		align-items: center;
	}
	
	.project-right-description {
		width: 40%;
		margin-left: 5%;
	}
	
	.project-right-description {
		font-size: 1.3rem;
	}
	
	.project-right-description h3 {
		font-size: 1.75rem;
	}
	
	.project-left-screenshot {
		width: 50%;
	}
	
	/* ==== Project Infobox Rules ==== */
	.projectInfoBox {
		width: 50%;
		float: right;
		margin-bottom: 20px;
	}
	
	/* ==== Project Latest Changelog Rules ==== */
	#latestChangelog {
		visibility: visible;
		box-sizing: border-box;
		height: 100%;
		width: 70%;
		padding: 15px;
		margin: 0 auto;
		background-color: #ffedcc;
		font-family: Calibri, Optima, sans-serif;
	}

	#latestChangelog h3 {
		font-size: 1.5rem;
		text-align: center;
	}

	#latestChangelog h4 {
		font-size: 1.25rem;
		text-align: center;
	}

	#latestChangelog li {
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 480px) {
	/* Really tiny devices */
	
	/* ==== Header Styles ==== */
	#headerLinks {
		width: 85%;
	}
	
	/* ==== About Me Styles ==== */
	#aboutMeText {
		font-size: 1.025rem;
	}
}